<div class="toppage">
<div class="have"></div>
<h1>Recipe Diary</h1>
<br>
<%= link_to "ログイン", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "アカウント作成", new_user_registration_path, class: "btn btn-primary" %>
<br>
<br>
アカウントを作られてない方は<%= link_to "こちら", new_user_session_path %>

</div>